<ul class="list-group">
    {% for choice in choices %}
    <li class="list-group-item">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <span class="badge rounded-pill {% if choice == vote%}bg-success{% else %}bg-light text-dark{% endif %}">
              {{ choice.vote_set.count}}
            </span>
          </div>
          <div class="col-md-10">
          {% if choice == vote %}<b>{% endif %}
            {{ choice.text }}
            {% if choice == vote %}</b> {% endif %}
          </div>
          <div class="col-md-1">
            {% if user.is_authenticated and choice != vote %}
                <form method="POST" action="{% url 'polls:vote' choice.pk %}">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-primary">
                            Vote!
                        </button>
                </form>
            {% else %}
              <i class="bi bi-check-circle-fill ms-3"></i>
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
