{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>


  <nav class="navbar py-2 bg-light border-bottom mb-3">
    <div class="container d-flex flex-wrap">
      <span class="navbar-brand mb-0 h1">django-htmx</span>
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'polls:list' %}" class="nav-link link-dark px-2 active" aria-current="page">Polls</a></li>
      </ul>
      <ul class="nav">
        {% if request.user.is_authenticated %}
        {# show logout #}
        <li class="nav-item">
          <a class="nav-link link-secondary" href="{% url 'logout' %}"> Logout {{ user.username }}</a>
        </li>
      {% else %}
        {# show login #}
        <li class="nav-item">
          <a class="nav-link link-secondary" href="{% url 'login' %}"> Login</a>
        </li>
      {% endif %}

      </ul>
    </div>
  </nav>

    <div class="container">
{% block content %}
Empty content
{% endblock %}

    </div>

  </div>
</body>
