{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>

  <div class="container-fluid p-0">

    {# Navbar #}
    <nav class="navbar navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">django-htmx</span>

          <!-- Login links -->
          <ul class="navbar-nav  mb-2 ms-md-auto">
            {% if request.user.is_authenticated %}
              {# show logout #}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><span class="fa-solid fa-right-from-bracket"></span> Logout {{ user.username }}</a>
              </li>
            {% else %}
              {# show login #}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><span class="fa-solid fa-right-to-bracket"></span> Login</a>
              </li>
            {% endif %}
          </ul>

        </div>
      </nav>

    <div class="container">
{% block content %}
Empty content
{% endblock %}

    </div>

  </div>
</body>
